ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-group {
    position: absolute;
    right: 20px;
    bottom: 50px;
    display: flex;
}

.btn {
    width: 190px;
    height: 65px;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

button.btn:enabled:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.show-btn {
    margin-left: 14px;
}

.play-img {
    display: none;
}

.play-img.active {
    display: inline-block;
}

.show-img {
    display: none;
}

.show-img.active {
    display: inline-block;
}

.left-menu-wrapper {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
    z-index: 1;
}

.left-menu-inner {
    position: relative;
    z-index: 2;
}

.left-menu-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.left-menu-wrap ul {
    display: flex;
    flex-flow: column;
}

.left-menu-wrap li {
    margin-bottom: 20px;
}

.left-menu-wrap a {
    width: 68px;
    height: 68px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(9px);
    --webkit-backdrop-filter: blur(9px);
    background-color: rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}

.left-menu-wrap a .left-txt {
    transition: opacity 1000ms;
    opacity: 0;
    color: white;
    white-space: nowrap;
    font-size: 0;
    width: 0;
    margin: 0;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
}

.left-menu-wrap a.active {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (hover: hover) {
    .left-menu-wrap a:hover {
        transition: all 400ms cubic-bezier(.62, .1, .5, 1);
        width: 193px;
    }

    .left-menu-wrap a:hover .left-txt {
        transition: all 400ms cubic-bezier(.62, .1, .5, 1);
        opacity: 1;
        margin-left: 30px;
        font-size: 14px;
        width: auto;
    }

    .left-menu-wrap a.active:hover {
        background-color: rgba(0, 0, 0, 0.19);
    }
}

.main-wrap {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    opacity: 0;
    width: 172px;
    transition: all .5s ease-in-out;
    pointer-events: none;
}

.main-wrap.active {
    opacity: 1;
    pointer-events: all;
    transition: all .5s ease-in-out;
}

.main-item-group {
    width: 100%;
    height: 510px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-item-group::-webkit-scrollbar {
    display: none;
}

.main-item {
    margin-bottom: 15px;
}

.main-item a {
    width: 100%;
    border-radius: 12px;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 1px 0px 20px;
    height: 148px;
    color: #656565;
    font-weight: bold;
}

.main-item a.active {
    background-color: rgba(0, 0, 0, 0.09);
}

.item-txt {
    font-size: 12px;
}

.text-wrap.main-wrap {
    top: 140px;
    transform: unset;
}

.text-wrap.main-wrap.active {
    width: 345px;
    left: calc(50vw - 200px);
}

.text-input {
    outline: unset;
    width: 100%;
    height: 55px;
    border-radius: 28px;
    border: 1px solid #e8e8e8;
    backdrop-filter: blur(0px);
    --webkit-backdrop-filter: blur(0px);
    background-color: #fff;
    font-weight: normal;
    font-size: 12px;
    color: #000;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
    letter-spacing: 1.5px;
}

.custom-wrapper .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pc {
    display: block;
}

.sp {
    display: none;
}

/* PC and Tablet */
@media only screen and (max-width: 1200px) {
    .left-menu-wrapper {
        right: 52px;
        top: 40%;
    }

    .main-wrap {
        right: unset;
        left: 0;
        top: unset;
        transform: unset;
        bottom: -390px;
    }

    .btn-group {
        bottom: 30px;
    }

}

/* SP */
@media only screen and (max-width: 767px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .left-menu-wrapper {
        right: unset;
        top: unset;
        transform: unset;
        bottom: 100px;
    }

    .left-menu-wrap {
        left: -28px;
        right: unset;
        top: unset;
        transform: unset;
        width: calc(100vw - 40px);
        overflow-x: scroll;
    }

    .left-menu-wrap ul {
        flex-flow: row nowrap;
    }

    .left-menu-wrap li {
        margin-bottom: 0;
        margin-right: 18px;
    }

    .left-menu-wrap a {
        width: 60px;
        height: 60px;
    }

    .main-wrap {
        height: 305px;
        visibility: hidden;
        opacity: 0;
        width: auto;
        right: unset;
        top: unset;
        transform: unset;
        left: -34px;
        bottom: calc(100vh - 620px);
    }

    .text-wrap.main-wrap {
        width: 345px;
        top: unset;
    }

    .main-item-group {
        width: 100px;
        height: 305px;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: scroll;
        overflow-x: unset;
    }

    .main-wrap.active {
        visibility: visible;
        opacity: 1;
        width: 100px;
    }

    .text-wrap.main-wrap.active {
        visibility: visible;
        opacity: 1;
        width: 320px;
        left: calc(50vw - 213px);
    }

    .text-wrap.main-wrap {
        visibility: hidden;
        opacity: 0;
        bottom: 20px;
        height: 70px;
    }

    .main-item {
        margin-bottom: 10px;
        margin-right: unset;
        width: 90px;
    }

    .main-item a {
        width: 89px;
        height: 89px;
        border-radius: 12px;
        padding-bottom: 0px;
    }

    .item-image img {
        width: 45px;
        height: 45px;
    }

    .item-txt {
        font-size: 10px;
    }

    .btn-group {
        bottom: unset;
        top: 50px;
        left: 50%;
        right: unset;
        transform: translateX(-50%);
        z-index: 10;
    }

    .btn {
        width: 160px;
        height: 56px;
    }
}